In [12]:
!pip install -U ydata-profiling -i https://pypi.tuna.tsinghua.edu.cn/simple

Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Requirement already satisfied: ydata-profiling in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (4.16.1)
Requirement already satisfied: scipy<1.16,>=1.4.1 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from ydata-profiling) (1.14.1)
Requirement already satisfied: pandas!=1.4.0,<3.0,>1.1 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from ydata-profiling) (2.2.3)
Requirement already satisfied: matplotlib<=3.10,>=3.5 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from ydata-profiling) (3.9.2)
Requirement already satisfied: pydantic>=2 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from ydata-profiling) (2.11.7)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from ydata-profiling) (6.0.2)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from ydata-profiling) (3.1.6)
Requirement already satisfied: visions<0.8.2,>=0.7.5 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (0.8.1)
Requirement already satisfied: numpy<2.2,>=1.16.0 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from ydata-profiling) (2.0.2)
Requirement already satisfied: htmlmin==0.1.12 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from ydata-profiling) (0.1.12)
Requirement already satisfied: phik<0.13,>=0.11.1 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from ydata-profiling) (0.12.5)
Requirement already satisfied: requests<3,>=2.24.0 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from ydata-profiling) (2.32.3)
Requirement already satisfied: tqdm<5,>=4.48.2 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from ydata-profiling) (4.67.0)
Requirement already satisfied: seaborn<0.14,>=0.10.1 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from ydata-profiling) (0.13.2)
Requirement already satisfied: multimethod<2,>=1.4 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from ydata-profiling) (1.12)
Requirement already satisfied: statsmodels<1,>=0.13.2 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from ydata-profiling) (0.14.5)
Requirement already satisfied: typeguard<5,>=3 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from ydata-profiling) (4.4.4)
Requirement already satisfied: imagehash==4.3.1 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from ydata-profiling) (4.3.1)
Requirement already satisfied: wordcloud>=1.9.3 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from ydata-profiling) (1.9.4)
Requirement already satisfied: dacite>=1.8 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from ydata-profiling) (1.9.2)
Requirement already satisfied: numba<=0.61,>=0.56.0 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from ydata-profiling) (0.61.0)
Requirement already satisfied: PyWavelets in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from imagehash==4.3.1->ydata-profiling) (1.9.0)
Requirement already satisfied: pillow in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from imagehash==4.3.1->ydata-profiling) (11.0.0)
Requirement already satisfied: MarkupSafe>=2.0 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from jinja2<3.2,>=2.11.1->ydata-profiling) (2.1.5)
Requirement already satisfied: contourpy>=1.0.1 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (1.3.0)
Requirement already satisfied: cycler>=0.10 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (1.4.7)
Requirement already satisfied: packaging>=20.0 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (24.1)
Requirement already satisfied: pyparsing>=2.3.1 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from matplotlib<=3.10,>=3.5->ydata-profiling) (2.9.0.post0)
Requirement already satisfied: llvmlite<0.45,>=0.44.0dev0 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from numba<=0.61,>=0.56.0->ydata-profiling) (0.44.0)
Requirement already satisfied: pytz>=2020.1 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from pandas!=1.4.0,<3.0,>1.1->ydata-profiling) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from pandas!=1.4.0,<3.0,>1.1->ydata-profiling) (2024.2)
Requirement already satisfied: joblib>=0.14.1 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from phik<0.13,>=0.11.1->ydata-profiling) (1.1.1)
Requirement already satisfied: annotated-types>=0.6.0 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from pydantic>=2->ydata-profiling) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from pydantic>=2->ydata-profiling) (2.33.2)
Requirement already satisfied: typing-extensions>=4.12.2 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from pydantic>=2->ydata-profiling) (4.15.0)
Requirement already satisfied: typing-inspection>=0.4.0 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from pydantic>=2->ydata-profiling) (0.4.1)
Requirement already satisfied: charset-normalizer<4,>=2 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (2024.12.14)
Requirement already satisfied: patsy>=0.5.6 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from statsmodels<1,>=0.13.2->ydata-profiling) (1.0.1)
Requirement already satisfied: colorama in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from tqdm<5,>=4.48.2->ydata-profiling) (0.4.6)
Requirement already satisfied: attrs>=19.3.0 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (25.3.0)
Requirement already satisfied: networkx>=2.4 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (3.5)
Requirement already satisfied: puremagic in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from visions<0.8.2,>=0.7.5->visions[type_image_path]<0.8.2,>=0.7.5->ydata-profiling) (1.30)
Requirement already satisfied: six>=1.5 in d:\develop\anaconda3\envs\data_analysis\lib\site-packages (from python-dateutil>=2.7->matplotlib<=3.10,>=3.5->ydata-profiling) (1.16.0)

In [2]:
import seaborn as sns

In [3]:
# 查看seaborn自带的数据集名称
titanic = sns.load_dataset("titanic")
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [4]:
titanic.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [5]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [13]:
from ydata_profiling import ProfileReport
profile = ProfileReport(titanic)
profile.to_file(r'泰坦尼克数据分析报告.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

100%|██████████| 15/15 [00:00<00:00, 51.25it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]